img {
    top: 0;
    left: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.left-btn {
    display: inline-block;
    font-size: 1rem;
    line-height: 2rem;
    border: 0;
    border-radius: 5px;
    overflow: hidden;
    background-color: #0c0c0c38;
    font-weight: 700;
    position: fixed;
    left: -20px;
    color: #fff;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    z-index: 200;
    width: 100px;
    box-shadow: 0 0 5px rgba(255,255,255,.5);
}
.left-btn:hover {
    left: -10px;
}

.left-btn .internal a {
    text-decoration: none;
    color: #fff;
}
.form-inline .form-group {
    justify-content: space-between;
}

.form-inline .form-control {
    width: 90%;
}

.frame {
    background-color: #00000012;
    padding: 3rem;
    margin: 2rem 0 .5rem 0;
    width: 100vw;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255,255,255,.5);
}

.result-frame {
    color: black;
    background-color: white;
    padding: 1rem 2rem;
    margin: .5rem 0;
    border-radius: 5px;
    border: 1px solid #b1b1b1;
    box-shadow: 0 0 5px rgba(255,255,255,.4);
}

hr {
    border-top: 1px solid #9a9a9a;
}


